<div class="card-body">
    {{#each contacts as |contact|}}
    <li>
        <p>Number: {{contact.number}}</p>
        <p>Relation: {{contact.relation}}</p>
        <p>Example</p>
    </li>
    {{/each}}
    <div class="mt-3">
        <button class="btn btn-warning align-items-end mt-2">Add Contact Info</button>
    </div>
</div>