{{#each contacts as |contact|}}
<h1><b>Contact: {{contact.firstName}} {{contact.lastName}}</b></h1>
    <li>
        <p>Number: {{contact.number}}</p>
        <p>Relation: {{contact.relation}}</p>
        <p>Example</p>
    </li>
{{/each}}