{{> navbar}}
<div id='calendar'></div>

<table>
    <tr class='test1'>
        <td>Event One</td>
        <td>2022-02-14</td>
        <td>2022-02-17</td>
        <td>red</td>
    </tr>
    <tr class='test1'>
        <td>Event Two</td>
        <td>2022-02-19</td>
        <td>2022-02-20</td>
        <td>green</td>
    </tr>
</table>