    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
    </form>



<div class="posts">
  {{#each allPosts as |post| }}
  <div class="card">
    <div class="card-header flex-row justify-space=between">
      <h2>{{post.title}}</h2>
      <h5>{{User.username}}</h5>
    </div>
    <div class="card-body">
      {{post.body}}
    </div> 
    <div>
      <a href="/newcomment">
        <button type="button" class="btn btn-dark">Submit</button>
      </a>
    </div>        
  </div>
  {{/each}}
</div>