<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Create A FamYOUly</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="familynameField" placeholder="Degen">
      <label for="familynameField">FamYOUly Name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="firstnameField" placeholder="Degen">
      <label for="firstnameField">First Name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="lastnameField" placeholder="Degen">
      <label for="lastnameField">Last Name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
      <label for="emailField">Email Address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="passwordField" placeholder="Password">
      <label for="passwordField">Password</label>
    </div>
    <div class="form-floating">
      <input type="text" id="roleField" list="roles" placeholder="Roles">
      <datalist id="roles">
        <option>Mother</option>
        <option>Father</option>
        <option>Guardian</option>
      </datalist>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="familyBtn">Create FamYOUly</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>