<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="/contacts">Contacts</a>
                {{> contact}}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/medical">Medical Info</a>
                {{> medical}}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Don't Forget List</a>
                {{> list}}
            </li>
        </ul>
    </div>

</div>