<main class="form-signin">
  <form>
    <h3 class="h3 mb-3 fw-normal">Login</h3>
    <div class="form-floating">
      <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
      <label for="emailField">Email Address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="passwordField" placeholder="Password">
      <label for="passwordField">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-dark" type="submit" id="signinBtn">Sign in</button>
    <p>Not A Member? Sign Up <a href="signUp">Here</a> </p>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>