<header class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 col-md-2">FamYOUly</span>
    <div class="row">
      <div class="col-md-3 my-4 mx-2">
        <div class="form-floating">
          <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
          <label for="emailField">Email address</label>
        </div>
      </div>
      <div class="col-md-3 my-4">
        <div class="form-floating">
          <input type="password" class="form-control" id="passwordField" placeholder="Password">
          <label for="passwordField">Password</label>
        </div>
      </div>
      <button class="btn btn-dark col-md-1" type="submit" id="signinBtn">Sign in</button>
      <a href="signUp" class="btn btn-dark col-md-2" tabindex="-1" role="button"id="loginBtn">Join Existing famYOUly</a>
      <a href="createfamily" class="btn btn-dark col-md-2 d-flex align-items-start" id ="loginBtn" tabindex="-1"
        role="button">Create New famYOUly</a>
    </div>
  </div>
</header>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/family.jpg" class="d-block w-100" style="height:800px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="slide1h">It Takes a Village</h5>
        <p id="slide1p">Collaborate care for your children with your entire support system.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/calendar.jpg" class="d-block w-100" style="height:800px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="slide2h">Shared Calendar, events, and to do's</h5>
        <p id="slide2p">Know where your child is, who's picking them up, and any important to do's.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/medicalRecord.jpg" class="d-block w-100" style="height:800px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="slide3h">Upload important information</h5>
        <p id="slide3p">No more miscommunications about medications and dosages</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p class="mt-5 mb-3 text-muted">FamYOUly &copy; 2022</p>