<h1>To Do History</h1>

<ul class="list-group">
  {{#each userTodos as |todo| }}
      <li class="list-group-item list-group-item-primary">{{todo.task}}</li>
      <li class="list-group-item list-group-item-danger">{{todo.task}}</li>
  {{/each}}
</ul>