
:root {
    --darkest: #3c413b;
    --dark:#607c82;
    --medium: #b1b8be;
    --light:#e4e4ec;
    --white: white;

}

h4 {
    font-size: 25px;
    text-align: center;
    margin: 5px;
}

table {
    padding: 30px;
    margin: 15px;
    border-style:solid;
    text-align: center;
    display: table;
    margin-left: 25%;
    margin-right: auto;
}

.btn  {
    margin: 5px;
    max-width: 150px;
}