:root {
    --black: black;
    --darkest: #3c413b;
    --darker: #244454;
    --dark:#607c82;
    --medium: #939d92;
    --light:#b1b8be;
    --lighter:#e4e4ec;
    --white: white;
}

h4 {
    font-size: 40px;
    text-align: center;
    margin: 5px;
    font-family: 'Merriweather', serif;
}

.btn  {
    margin-top: 24px;
    margin-left: 10px;
    /* padding: 10px; */
    text-align: center;
    vertical-align: middle;
    height: 58px;
}
.homepageButtons{
    margin-left: 10%;
    margin-bottom: 15px;
    margin-top: -10px;
}


#todoTable {
    padding: 10px;
    margin: auto;
    border-style:solid;
    text-align: center;
    display: table;
    max-width: 80%;
    background-color: white;    
}

h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-top: 10px;
    font-size: 40px;
}

.form-signin {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.h3 {
    font-size: 40px;
    font-family: 'Merriweather', serif;
    margin-top: 25px;
}

h3 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    margin-top: 25px;
}


/* CALENDAR STUFF */
body {
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    background-color: #607c82
}

#calendar {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Merriweather', serif;

}

.hoverEffect {
    font-size: 29px;
    position: absolute;
    margin: 30px 55px;
    cursor: pointer;
}

.ui-datepicker-trigger {
    background: transparent;
    border: none;
    margin: 0!important;
    padding: 0!important;
}

.datetimepicker .input-group-addon {
    background-color: #f9f9f9;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    height: 2.1em;
    border: 1px solid #ccc;
}

.fc-state-default.fc-corner-right {
    border-radius: 0px;
}

#profileBtn {
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}

#table1, #table2, #table3 {
    padding: 30px;
    margin: 15px;
    border-style:solid;
    text-align: center;
    display: table;
    margin-left: 25%;
    margin-right: auto; 
    background-color: white;
}


#moreInfobtn {
    height: 20px;
}

#slide1h, #slide1p, #slide2h, #slide2p, #slide3h, #slide3p {
    color: #white;
	-webkit-text-stroke: 1px black;
	text-shadow: 0px 4px 4px black;
    font-size: 50px;
}

#slide1p, #slide2p, #slide3p {
    font-size: 35px;
}

h7 {
    font-size: 20px;
    background-color: white;
    width: 546px;
    font-family: 'Merriweather', serif;
}
#todoCol {
    margin-top:10px;
}
#kidsCard {
    margin-top: 10px;
}
.card-header {
    background-color: white;
}

.familyEvents {
    background-color: white;
}
table {
    background-color: white;
}

#loginBtn,
#signinBtn {
    /* background-color: #244454; */
    padding-top: 4px;
}

.row>* {
    padding: 0px;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 45px;
    /* background-color: #244454; */
}
#emailField,
#passwordField {
    margin-right: 10px;
}

.form-floating {
    background-color: #244454;
}
.profilePic {
    max-height: 90%;
    max-width: 50%;
    margin-top: 15px;
}

#profileTable {
    width: 90%;
    display: table;
    padding: 30px;
    margin: 15px;
    border-style:solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.kidPic {
    max-height: 175px;
    max-width: 100%;
}

.nav-link.active {
    color: white;
    vertical-align: middle;
}
