:root {
    --darkest: #3c413b;
    --dark:#607c82;
    --medium: #b1b8be;
    --light:#e4e4ec;
    --white: white;
}

h4 {
    font-size: 40px;
    text-align: center;
    margin: 5px;
}

.btn  {
    margin-top: 24px;
    margin-left: 10px;
    /* padding: 10px; */
    text-align: center;
    vertical-align: middle;
    height: 58px;
}

#todoTable {
    padding: 10px;
    margin: auto;
    border-style:solid;
    text-align: center;
    display: table;
    max-width: 80%;    
}

h1 {
    text-align: center;
}

.form-signin {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.h3 {
    font-size: 35px;
}

h3 {
    margin-left: 19%;
}

#profileTable {
    width: 50%;
    display: table;
    padding: 30px;
    margin: 15px;
    border-style:solid;
    text-align: center;
    margin-left: 25%;
    margin-right: auto;
    display: flex;
}


/* CALENDAR STUFF */
body {
    margin: 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 1200px;
    margin: 0 auto;
}

.hoverEffect {
    font-size: 29px;
    position: absolute;
    margin: 30px 55px;
    cursor: pointer;
}

.ui-datepicker-trigger {
    background: transparent;
    border: none;
    margin: 0!important;
    padding: 0!important;
}

.datetimepicker .input-group-addon {
    background-color: #f9f9f9;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    height: 2.1em;
    border: 1px solid #ccc;
}

.fc-state-default.fc-corner-right {
    border-radius: 0px;
}

#profileBtn {
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}

#table1{
    padding: 30px;
    margin: 15px;
    border-style:solid;
    text-align: center;
    display: table;
    margin-left: 25%;
    margin-right: auto; 
}

#profileTable{
    padding: 30px;
    margin: 15px;
    border-style:solid;
    text-align: center;
    display: table;
    margin-left: 25%;
    margin-right: auto; 
}

#moreInfobtn {
    height: 20px;
}